@import "~/.cache/wallpaper-selector/gradient.rasi"

// Config //
configuration {
    show-icons:                  true;
    drun-display-format:         "{name}";
    window-format:               "{w}{t}";
    font:                        "Fira Code Nerd Font 9";
    me-select-entry:             "";
    me-accept-entry:             "!MousePrimary";
    kb-cancel:                   "Escape,MousePrimary";
    hover-select:                true;
    
}

* {
    main-bg:            #0000004a;
    main-fg:            #ffffffc3;
    main-br:            #8f9fc4e6;
    select-bg:          #858dfaff;
    select-fg:          #000000ff;
}


// Main //
window {
    height:                      34em;
    width:                       20em;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border-color:                @main-br;
    border:                      0;
    border-radius:               1em 1em 1em 1em;
    background-color:            transparent;
}
mainbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     1em;
    orientation:                 vertical;
    children:                    [ "inputbar" , "listbox" ];
    background-color:            @main-bg;
}


// Inputs //
inputbar {
    enabled:                     true;
    spacing:                     0em;
    padding:                     4em;
    children:                    [ "entry" ];
    background-color:            transparent;
    background-image:            url("~/.cache/wallpaper-selector/wall_set.png", width);
    border-radius:               1em 1em 1em 1em;
}
entry {
    enabled:                     false;
}


// Lists //
listbox {
    spacing:                     0em;
    padding:                     0em;
    children:                    [ "dummyt" , "listview" , "dummyb" ];
    background-color:            transparent;
    border-radius:               0em 0em 1em 1em;
}
listview {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0em;
    columns:                     1;
    lines:                       8;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    expand:                      false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    border:                      0;
}
dummyt {
    spacing:                     0em;
    padding:                     0em;
    background-color:            transparent;
}
dummyb {
    spacing:                     0em;
    padding:                     0em;
    background-color:            transparent;
    border-radius:               0em 0em 1em 1em;
}


// Elements //
element {
    enabled:                     true;
    spacing:                     1em;
    padding:                     0.5em 0.2em 0.5em 0.2em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @main-fg;
    border-radius:               0.6em 0.6em 0.6em 0.6em;
}
element alternate.normal {
    text-color:                  @select-fg;
    background-color:            transparent;
    text-color:                  @main-fg;
}
element normal.normal {
    background-color:            transparent;
    text-color:                  @main-fg;
}

element selected.normal {
    text-color:                  @select-fg;
}

element-icon {
    size:                        2em;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}

// Error message //
error-message {
    text-color:                  @main-fg;
    background-color:            @main-bg;
    text-transform:              capitalize;
    children:                    [ "textbox" ];
}

textbox {
    text-color:                  inherit;
    background-color:            inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
