.music-content {
  min-height: 240px;
  min-width: 170px;
  background-color: #232a37;
  border-radius: 16px;
  padding: 10px;
}
.music-cover {
  border-radius: 10px;
  background-color: #000000;
  min-width: 40px;
  min-height: 140px;
}
.music-title-w,
.music-artist-w {
  color: #ffffff;
}
.music-btn-w {
  font-size: 20px;
  color: #000000;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: transparent;
}